<div class="row">
    <form action="/search" class="navbar-search">
        <input name="wordsline" type="text" placeholder="<%= I18n.t('search.site_search') %>" class="search-query span10" value="<%= @query %>">
        <input type="submit" value="<%= I18n.t('search.button') %>" onclick="this.form.searchline.focus();" />
    </form>
</div>
<p></p>
<div class="row">
    <ol>
        <% @results.each_with_index do |result, index| %>
            <li>
                <a href="<%= result.path %>">
                    <%= result.title %>
                </a>
                <p><%= truncate(strip_tags(result.description), :length => 400, :separator => ' ') %></p>
            </li>
        <% end %>
    </ol>
</div>
