<!DOCTYPE html>
<html>
<head>
  <title>Tabularasa</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<% unless notice.blank? %>
		<div class="alert alert-success">
			<a class="close" data-dismiss="alert">?</a>
			<span><%= notice %></span>
		</div>
	<% end %>

	<% unless alert.blank? %>
		<div class="alert alert-danger">
			<a class="close" data-dismiss="alert">?</a>
			<span><%= alert %></span>
		</div>
	<% end %>

	<div id="page" class="row">
		 <%= yield %>
	</div>
</div>
</body>
</html>
